<%-include("partials/header.ejs")%>
<div>
  <img
    class="mt-4"
    src="images/main3.jpg"
    alt="heroes"
    style="height: 620px; width: 1840px; object-fit: fill;"
  />
</div>
<div class="container px-1 py-1">
<div class="cards pt-2 pb-2">
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img
          src="images/maverick.jpg"
          alt="Avatar"
          style="width: 100%; height: 100%"
        />
      </div>
      <div class="flip-card-back align-content-center">
        <h1>Maverick</h1>
        <p><h3>Marvel Comics</h3></p>
        <p><h3>Hero</h3></p>
      </div>
    </div>
  </div>

  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img
          src="images/harry.jpg"
          alt="Avatar"
          style="width: 100%; height: 100%"
        />
      </div>
      <div class="flip-card-back align-content-center">
        <h1>Harry Potter</h1>
        <p><h3>Harry Potter</h3></p>
        <p><h3>Hero</h3></p>
      </div>
    </div>
  </div>

  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img
          src="images/deadpool.jpg"
          alt="Avatar"
          style="width: 100%; height: 100%"
        />
      </div>
      <div class="flip-card-back1 align-content-center">
        <h1>Deadpool</h1>
        <p><h3>Marvel Comics</h3></p>
        <p><h3>Anti-Hero</h3></p>
      </div>
    </div>
  </div>

  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img
          src="images/joker.jpg"
          alt="Avatar"
          style="width: 100%; height: 100%"
        />
      </div>
      <div class="flip-card-back1 align-content-center">
        <h1>Joker</h1>
        <p><h3>DC Comics</h3></p>
        <p><h3>Villian</h3></p>
      </div>
    </div>
  </div>
</div>

<div class="cards pt-2 pb-2">
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img
          src="images/falcon.jpg"
          alt="Avatar"
          style="width: 100%; height: 100%"
        />
      </div>
      <div class="flip-card-back align-content-center">
        <h1>Falcon</h1>
        <p><h3>Marvel Comics</h3></p>
        <p><h3>Hero</h3></p>
      </div>
    </div>
  </div>

  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img
          src="images/blackW.jpg"
          alt="Avatar"
          style="width: 100%; height: 100%"
        />
      </div>
      <div class="flip-card-back1 align-content-center">
        <h1>Black Widow</h1>
        <p><h3>Avengers</h3></p>
        <p><h3>Agent of evil</h3></p>
      </div>
    </div>
  </div>

  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img
          src="images/Ben.jpg"
          alt="Avatar"
          style="width: 100%; height: 100%"
        />
      </div>
      <div class="flip-card-back align-content-center">
        <h1>Benjamin kirby Tennyson</h1>
        <p><h3>Ben 10</h3></p>
        <p><h3>Sci-fi Hero</h3></p>
      </div>
    </div>
  </div>

  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <img
          src="images/wonderWoman.jpg"
          alt="Avatar"
          style="width: 100%; height: 100%"
        />
      </div>
      <div class="flip-card-back align-content-center">
        <h1>Wonder Woman</h1>
        <p><h3>DC Comics<h3></p>
        <p><h3>superheroine<h3></p>
      </div>
    </div>
  </div>
</div>
</div>

<!-- --------------------------------------- -->

<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5 ">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="images/side.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="800" height="700" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Welcome to "Multiverse Chronicles"</h1>
        <p class="lead">The ultimate destination for all things heroic and villainous! Dive into the depths of our meticulously curated collection of characters, each with their own compelling stories, awe-inspiring powers, and intricate connections. Whether you're a seasoned fan or a newcomer to the comic cosmos, prepare to be enthralled by the rich tapestry of heroes and villains that inhabit our digital realm.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        </div>
      </div>
    </div>
  </div>

  <!-- -------------------------------- -->

<%-include("partials/footer.ejs")%>
